@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  src: url('./ArchitectsDaughter-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#content {
  background: url('./hero.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
}

.left-menu {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left: 2rem;
  padding: 2.5rem 3rem;

  h1 {
    font-family: 'Architects Daughter', cursive;
    color: white;
    margin: 0;
    font-size: 3.5rem;
    text-align: center;
  }
}
